#chieftain-logo {
  height: 565px;
  background: #fff url("../img/logo.png") no-repeat;
  background-position: center; }
.download {
  position: relative;
  top: 470px; }
  .download .zip {
    float: right; }
  .download .tar {
    float: right; }
  .download a:link, .download a:visited {
    color: #eee; }

.cell-screenshot {
  width: 100%; }
.screenshot-list .cell-screenshot {
  width: 20%;
  float: left; }