.chieftain-logo {
  background-image: url("../img/logo.png"); }
.download {
  margin-top: 400px; }
  .download .zip {
    float: right; }
  .download .tar {
    float: right; }
  .download a:link, .download a:visited {
    color: #eee; }
