/* Fonts */
@font-face{font-family:'museo-sans-1';src:url('fonts/museosans_500-webfont.eot');src:local('☺'),url('fonts/museosans_500-webfont.woff') format('woff'),url('fonts/museosans_500-webfont.ttf') format('truetype'),url('fonts/museosans_500-webfont.svg#webfont6kY1IVGu') format('svg');font-weight:normal;font-style:normal;}@font-face {
	font-family: 'Museo_Slab_100';
	src: url('fonts/Museo_Slab_100-webfont.eot');
	src: local('☺'),url('fonts/Museo_Slab_100-webfont.woff') format('woff'),url('fonts/Museo_Slab_100-webfont.ttf') format('truetype'),url('fonts/Museo_Slab_100-webfont.svg#webfont6kY1IVGu') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{font-family:'league-gothic-1';src:url('fonts/League_Gothic-webfont.eot');src:local('☺'),url('fonts/League_Gothic-webfont.woff') format('woff'),url('fonts/League_Gothic-webfont.ttf') format('truetype'),url('fonts/League_Gothic-webfont.svg#webfontOTINA1xY') format('svg');font-weight:normal;font-style:normal;}@font-face {
	font-family: 'calluna';
	src: url('fonts/calluna-regular-webfont.eot');
	src: local('☺'),url('fonts/calluna-regular-webfont.woff') format('woff'),url('fonts/calluna-regular-webfont.ttf') format('truetype'),url('fonts/calluna-regular-webfont.svg#webfonts6RMrQrn') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face{font-family:'league-gothic-1';src:url('fonts/League_Gothic-webfont.eot');src:local('☺'),url('fonts/League_Gothic-webfont.woff') format('woff'),url('fonts/League_Gothic-webfont.ttf') format('truetype'),url('fonts/League_Gothic-webfont.svg#webfontOTINA1xY') format('svg');font-weight:normal;font-style:normal;}@font-face {
	font-family: 'calluna';
	src: url('fonts/calluna-regular-webfont.eot');
	src: local('☺'),url('fonts/calluna-regular-webfont.woff') format('woff'),url('fonts/calluna-regular-webfont.ttf') format('truetype'),url('fonts/calluna-regular-webfont.svg#webfonts6RMrQrn') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Styles */
body {
    margin-top: 1.0em;
    background-color: #D9D9D9;
    font-family: "calluna", Helvetica, Arial, "FreeSans";
    color: #000;
}
#container {
    margin: 0 auto;
    width: 1000px;
}
a { color: #f60; text-decoration: none; }
/*a:hover {border-bottom: 1px dashed;}*/
::-moz-selection {
	background: #F14A29;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #F14A29;
	color: #fff;
	text-shadow: none;
}

.yes {background-color: #6d5;}
.no {background-color: #d65;}
.partial {background-color: #f58020;}
.planned {background-color: #dd5;}

h1, h2, h3 {font-family: "league-gothic-1",Impact,sans-serif;}
h1 { font-size: 5em; color: #f60; margin-bottom: 3px; }
h1 .small { font-size: 0.4em; }
h1 a, h2 a, h3 a { text-decoration: none; color: inherit; }
h2 { font-size: 3em; color: #f60; }
h3 {
    color: #F14A29;
    font-size: 70px;
    margin: 0 0 26px 0;
}
aside {
    width: 276px;
    background: white url('images/logo-aside-orange.png') no-repeat 0 bottom;
    position: relative;
    float: left;
    height: 250px;
    margin: 0 10px 10px 0;
    padding: 21px 25px;
}
aside h3 {
    color: #0092BF;
    font-size: 40px;
    margin-bottom: 10px;
}
aside p {font-size:16px; line-height: 20px;}
aside ul {padding-left: 0;}
aside li > a {padding: 25px 5px 0 35px;}
.tag-bar {background: #0092BF; color: #fff; clear: both; margin-bottom: 10px;}
.tag-bar h2 {
    font-size: 80px;
    line-height: 140px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 36px;
    color: white;
}

#logo {
    background-image: url('images/logo.png');
}
#logo img {border: 0;}
.left, #logo, .screenshots, .full {
    width: 495px;
    height: 495px;
    margin: 0 10px 10px 0;
    float: left;
    background-color: white;
}
.right, #description, #feature-list {
    width: 429px;
    height: 407px;
    background: white;
    margin: 0 0 10px 0;
    padding: 44px 33px;
    float: left;
}
.right {
    font-size: 19px;
    line-height: 26px;
}
#feature-list {
    font-size: 16px;
    line-height: 20px;
}
.screenshots {height: 455px;padding-top: 40px;}
.license {height: 630px;}

.orange-links {
    position: absolute;
    left: 25px;
    bottom: 7px;
    height: 49px;
    width: 280px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#mac-icon {background: url('images/mac_icon.png') no-repeat;}
.orange-links li {
    display: inline;
    margin: 0;
    padding: 0;
}
.orange-links li a {
    display: block;
    float: left;
    color: white;
    font-size: 12px;
    text-transform: uppercase;
    font-family: "museo-sans-1",'Trebuchet MS',sans-serif;
    font-weight: 100;
}
.orange-social {margin-left: -10px; width: 310px;}
#performance ul a {padding-left: 65px;}
#share li {height: 120px; float: left;}
#share iframe {margin-top: 20px;}
#share {margin-right: 0;}
#vk {width: 105px; margin-top: -1px;}
#license {padding: 44px 33px; width: 429px; height: 650px;}
#install {height: 650px;}
#powered li {list-style-type: none;}
#powered .python {list-style-image: url('images/python.png');}
#powered .jquery {list-style-image: url('images/jquery.png');}
#powered .django {list-style-image: url('images/django.png');}
#powered .tornado {list-style-image: url('images/tornado.png');}
#powered .redis {list-style-image: url('images/redis.png');}
#powered .mysql {list-style-image: url('images/mysql.png');}
.full {width: 100%; height: auto;}
.description { font-size: 1.2em; margin-bottom: 30px; margin-top: 30px;}
.download { margin-top: 400px; }
.download .zip {float: right;}
.download .tar {float: right;}
.download a:link, .download a:visited {color: #eee;}
table {border-spacing: 0;}
table tr:not(:first-child) th {text-align: left;}
th, td {border: 1px solid #000;}
table tr:first-child th {height: 30px;}
th a:link, th a:visited {color: inherit;}
th a:hover {border-bottom: 1px solid;}
pre { background: #000; color: #fff; padding: 15px; overflow: scroll;}
pre:before {content: "$ ";}
hr { border: 0; width: 80%; border-bottom: 1px solid #aaa}
.footer { text-align:center; padding-top:30px; }
abbr {border-bottom: 1px dotted;}
.forkme {position: absolute; top: 0; right: 0; border: 0;}